@model  MyAppCore1.ViewModels.HomePageViewModel
@{
    ViewBag.Title = "Home";
    
}
<h1>Bienvenido!</h1>

<table>
    @foreach (var restaurante in Model.Restaurantes) {
        <tr>
            <td>
                <a asp-action="Details" asp-route-id="@restaurante.Id">Detalles</a>
            </td>
            <td>@restaurante.Nombre</td>
        </tr>
    }
</table>

<a asp-controller="Home" asp-action="Create">Crear</a>

@section footer{
    <h3>@Model.MensajeActual</h3>
}