@model  MyAppCore1.ViewModels.HomePageViewModel
@{
    ViewBag.Title = "Home";

}
<h1>Bienvenido!</h1>

@foreach (var restaurante in Model.Restaurantes) {
    @Html.Partial("_Resumen", restaurante);
}

<div>
    <a asp-controller="Home" asp-action="Create">Crear</a>
</div>

@section footer{
    <h3>@Model.MensajeActual</h3>
}